@import './variable';

.btn{
    background: $blue;
    width: 200px;
    height: 45px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    &:hover, &:focus, &:active{
        transform: translateY(-5px);
        background: #3f74e0;
    }
}