@import './base/text';
@import './base/button';

.container{
    padding: 0 calc(50% - 555px);
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

img,a,button{
    display: block;
}

body{
    font-family: 'Montserrat', sans-serif;
}

@import './modules/header';
@import './modules/intro';
@import './modules/applications';
@import './modules/media';
@import './modules/standard';
@import './modules/works';