/* Basic Styles */

:root{
  --main: #fff;
  --dark: #323232;
  --grey: #999999;
  --blue: #4985FF;
  --greyBor: #E0E0E0;
  --black: #000;
}

.container{
  padding: 0 calc(50% - 555px);
}

ul li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

img,a,button{
  display: block;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* Text Modifier Blocks */

.text{
  color: var(--grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.text-link{
  text-decoration: underline;
  color: var(--blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.text_main{
  color: var(--main);
  font-weight: 500;
  line-height: 19.5px;
}

/* Header blocks and modifiers */

.title{
  color: var(--main);
  font-weight: 800;
  font-size: 48px;
  line-height: 64.36px;
}

.title_section{
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 52.66px;
}

.title_heading{
  color: var(--black);
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
}

/* Buttons */

.button{
  background: var(--blue);
  width: 200px;
  height: 45px;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;

  color: var(--main);
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out;
}

.button:hover, .button:focus, .button:active{
  transform: translateY(-5px);
  background: #3f74e0;
}


/* Header */

.header{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 2;
  border-bottom: 1px solid #A1A1A1;
}

.header__navigation{
  display: flex;
  justify-content: end;
}

/* Navigation */

.navigation__list{
  display: flex;
  align-items: center;
}

.navigation__item{
  margin-right: 40px;
}

.navigation__item:last-child{
  margin-right: 0;
}

.navigation__link{
  position: relative;
}

.navigation__link::before{
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  top: 57px;
  left: 50%;
  transition: 0.4s all ease-in-out;
  transform: translateX(-50%) translateY(5px) scale(0.5);
  width: 107px;
  height: 2px;
  background: var(--main);
  animation-fill-mode: forwards;
}

.navigation__link:hover:before{
  opacity: 1;
  transform: translateX(-50%) translateY(0px) scale(1);
  visibility: visible;
}

.navigation__list.active{
  left: 0;
  opacity: 0.9;
  visibility: visible;
}

.navigation-button{
  width: 45px;
  height: 40px;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.navigation-button span{
  background: var(--main);
  height: 2px;
  visibility: visible;
  position: relative;
}

.navigation-button::before, .navigation-button::after{
  content: '';
  transition: 0.4s all ease-in-out;
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--main);
}

.navigation-button::before{
  transform: translateY(8px);
}

.navigation-button::after{
  transform: translateY(-8px);
}

.navigation-button.active span{
  height: 0;
}

.navigation-button.active span::after{
  transform: rotate(45deg);
}

.navigation-button.active span::before{
  transform: rotate(-45deg);
}

/* Intro */

.intro{
  min-height: 900px;
  background: url('../img/Main/main_bg.webp') no-repeat center /cover;
  padding-top: 320px;
}

.intro__atelier{
  text-align: center;
  margin-bottom: 18px;
  display: block;
}

.intro__title{
  width: 829px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 33px;
}

.intro__button{
  margin: 0 auto;
}


/* Applications */

.applications{
  padding-top: 105px;
  padding-bottom: 105px;
}

.applications__title{
  width: 740px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
}

.applications__describe{
  width: 730px;
  margin: 0 auto;
  margin-bottom: 65px;
  text-align: center;
}

.applications__list{
  display: grid;  
  grid-template-columns: repeat(3, 353px);
  gap: 27px;
  margin-bottom: 55px;
}

.applications__item{
  display: flex;
  justify-content: space-between;
}

.applications__heading{
  margin-bottom: 12px;
}

.applications__text{
  width: 226px;
  padding-top: 48px;
}

.applications__description{
  color: var(--grey);
}

.applications__circle{
  width: 110px;
  height: 110px;
  border-radius: 100%;
  border: 1px solid var(--greyBor);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.applications__circle::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 1px solid var(--blue);
}

.applications__button{
  margin: 0 auto;
}

/* Standard */

.standard{
  padding-top: 100px;
  padding-bottom: 64px;
  background-color: #F6F6F8;
}

.standard__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
}

.standard__text{
  width: 495px;
}

.standard__title{
  margin-bottom: 20px;
}

.standard__description{
  margin-bottom: 30px;
}

.standard__photo{
  width: 500px;
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.standard__photo img{
  width: 100%;
  height: 100%;
}

/* Projects */

.projects{
  padding: 65px 95px 0;
  border-top: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.projects__item{
  width: 104px;
}

.projects__number{
  display: block;
  text-align: end;
  position: relative;

  color: var(--black);
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
}

.projects__number::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background: url('../img/Standard/web-programming.svg') no-repeat;
}

/* Works */

.works{
  padding-top: 90px;
  padding-bottom: 85px;
  position: relative;
}

.works::after{
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 490px;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

.works__specialization{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 61px;
}

.works__list{
  display: flex;
  gap: 30px;
  padding-bottom: 85px;
  border-bottom: 1px solid #E0E0E0;
}

.works__title{
  width: 540px;
  color: var(--main);
}

.works__heading{
  padding-left: 3px;
  margin-bottom: 23px;
}

.works__description{
  margin-bottom: 25px;
}

.works__heading span{
  color: var(--blue);
}

.works__photo{
  width: 350px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.works__photo img{
  width: 100%;
  height: 100%;
}


/* Adaptation */

@media screen and(max-width: 1130px) {
  .container{
    padding: 0 calc(50% - 384px);
  }

  .applications__list{
    justify-content: center;
    grid-template-columns: repeat(2, 353px);
  }

  .intro__title{
    width: 100%;
  }

  .menu{
      padding-right: 30px;
  }
}

@media screen and(max-width: 768px) {
  /* Basic Styles */
  .container{
    padding: 0 calc(50% - 212px);
  }

  .main{
    min-height: 100vh;
  }

  .title{
    font-size: 30px;
    line-height: 36px;
  }

  .title_section{
    font-size: 28px;
    line-height: 32px;
  }

  .title_heading{
    text-align: center;
    font-size: 18px;
    line-height: 21.98px;
  }

  /*   Applications */

  .applications{
    padding-top: 80px;
  }

  .applications__title{
    width: 100%;
  }
  .applications__describe{
    width: 100%;
  }
  .applications__list{
    grid-template-columns: repeat(1, 353px);
  }

  /*   Navigation */

  .navigation__list{
    top: 0;
    left: -10%;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    transition: 0.4s all ease-in-out;
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 100vh;
    z-index: 100;
    background: var(--dark);
  }

  .navigation__item{
    margin-right: 0;
  }
  
  .navigation-button{
    display: flex;
  }

  /* Intro */

  .intro{
    padding-top: 180px;
  }
}

@media screen and(max-width: 425px) {
  /* Basic Styles */
  .container{
    padding: 0 calc(50% - 160px);
  }

  .title_section{
    font-size: 23px;
  }

  /*   Applications */

  .applications{
    padding-top: 60px;
  }

  .applications__list{
    grid-template-columns: repeat(1, 100%);
  }

  .applications__item{
    display: block;
  }

  .applications__circle{
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .applications__text{
    margin: 0 auto;
    padding-top: 0;
  }

  .applications__describe{
    text-align: center;
  }

  .applications__description{
    text-align: center;
  }
}