@import '../base/mixin';

.intro{
    min-height: 900px;
    background: url('../img/Main/main_bg.webp') no-repeat center /cover;
    padding-top: 320px;
    &__atelier{
        text-align: center;
        margin-bottom: 18px;
        display: block;
    }
    &__title{
        width: 829px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 33px;
    }
    &__button{
        margin: 0 auto;
    }
}