@import '../base/mixin';

.works{
    padding-top: 90px;
    padding-bottom: 85px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 490px;
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    }
    &__specialization{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 61px;
    }
    &__list{
        display: flex;
        gap: 30px;
        padding-bottom: 85px;
        border-bottom: 1px solid #E0E0E0;
    }
    &__title{
        width: 540px;
        color: var(--main);
    }
    &__heading{
        padding-left: 3px;
        margin-bottom: 23px;
    }
    &__description{
        margin-bottom: 25px;
    }
    &__photo{
        width: 350px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__heading{
        span{
            color: var(--blue);
        }
    }
}